{
	"extends": [
		"stylelint-config-standard",
		"stylelint-config-recommended-scss"
	],
	"rules": {
		"scss/at-else-closing-brace-newline-after": "always-last-in-chain",
		"scss/at-else-closing-brace-space-after": "always-intermediate",
		"scss/at-else-empty-line-before": "never",
		"scss/at-if-closing-brace-newline-after": "always-last-in-chain",
		"scss/at-if-closing-brace-space-after": "always-intermediate",
		"at-rule-empty-line-before": [
			"always",
			{
				"except": ["blockless-after-same-name-blockless", "first-nested"],
				"ignore": ["after-comment"],
				"ignoreAtRules": ["else"]
			}
		],
		"at-rule-name-space-after": "always",
		"at-rule-no-vendor-prefix": true,
		"at-rule-semicolon-space-before": "never",
		"block-closing-brace-newline-after": [
			"always",
			{
				"ignoreAtRules": ["if", "else"]
			}
		],
		"color-named": "never",
		"declaration-property-unit-blacklist": {
			"/^font/": ["px"]
		},
		"function-url-no-scheme-relative": true,
		"function-url-quotes": "always",
		"function-url-scheme-whitelist": ["data", "https"],
		"indentation": "tab",
		"media-feature-name-no-unknown": [
			true,
			{
				"ignoreMediaFeatureNames": ["prefers-reduced-motion"]
			}
		],
		"media-feature-name-no-vendor-prefix": true,
		"no-descending-specificity": null,
		"number-leading-zero": "never",
		"property-no-vendor-prefix": true,
		"selector-attribute-quotes": "always",
		"selector-list-comma-newline-after": "always-multi-line",
		"selector-list-comma-space-after": "always-single-line",
		"selector-max-id": 0,
		"selector-no-vendor-prefix": true,
		"shorthand-property-no-redundant-values": true,
		"string-quotes": "single",
		"value-keyword-case": [
			"lower",
			{
				"ignoreProperties": ["/^[$]/"]
			}
		],
		"value-no-vendor-prefix": true
	}
}
