@import "../helpers/variables.scss";    

// Footer region
.foot-top{
    padding-bottom: 3rem;
    border-bottom: 8px solid #fff;

    &-bottom{
        margin-bottom: 3rem;
    }

}  


.foot-border-right{
    padding-right: 3rem;
    margin-right: 3rem;
    border-right: 2px solid $brand;
}

#anchorproducts {
    .foot-border-right{
        border-right:0;
    }
    .foot-border-right+.foot-border-right{
        border-left: 2px solid $brand;
        margin-left: -2rem;
    }
    .ghost-button{
        display: block;
        color: $palette-accent-teal;
        border: 1px solid $color-gray;
        margin-bottom: 12%;
    }
}

.footer-end{
    font-size: $title-alt;
    padding-top: 3rem;
    flex: 100%;
    padding-left: 2rem;
    margin-right: 0;


    a{
        text-transform: uppercase;
    }

    &-right{
        text-align: right;
    }

}

.footer-logo .icon-svg{
    font-size: 1.6em;
    color: $footer-logo;
}

.footer{
    .social a{
        background: $color-link;
        height: 18px;
        width: 18px;
        color: #fff;
        font-size: .9rem;
        padding: 9px;
        text-decoration: none;
        margin: -12px 11px 0px 0px;
        text-align: center;
        -webkit-border-radius: 360px;
        -moz-border-radius: 360px;
        border-radius: 360px;
        box-sizing: content-box;
        display: inline-block;
    }
}

@media (max-width: 982px) {
    .footer {
        .social {
            margin-top: 1rem;
        }
    }
}

@media (max-width: 768px) {
    .foot-border, .foot-top{
        border: 0;
    }
}

@media (max-width: 815px) {
    .foot-border-right {
        padding-right: 0;
        border-right: 0;
    }
}