@import "../helpers/variables.scss";    

// Header region

.mr-auto, .mx-auto, .menu {
    width: auto;
}


#servier.navbar {
    // force bootstrap to be white menu
    background-color: #fff!important; 

    .nav-link{
        margin-right: 20px;
    }

    a {
        color: $color-gray-darker; 
        transition: ease-in-out color .15s;
        text-transform: uppercase;
        font-size: $menu-size;
        text-decoration: none;
        border-bottom: 1px solid $underline;
        margin-right: 3rem;

        &:hover {
            color: $alt!important; 
            text-decoration: none;
            border-color: $link;
        }
        
    }
}

//color for the hamburger stand
.bg-mobile-button{
    background: $link;
}

// mobile menu padding between items
@media (max-width:981px) {
    #servier.navbar .nav-link {
        margin-right: 0px;
    }
    #servier.navbar a {
        margin-top: 15px;
    }
}