@import "../helpers/variables.scss";    

body{
    font-size: $default-size;
}

.lead{
    font-size: $default-size;
}

.brand{
    border: 0!important;
    &-spacer{
        margin-right: 2rem;
    }
}

.social{

    .menu{
        margin-left: 90%;
    }

    a{
        background: $color-gray;
        height: 17px;
        width: 18px;
        padding: 0.2rem;
        color: #fff!important;
        font-size: .7rem;
        text-decoration: none;
        margin: -8px 11px 0px 0px; 
        text-align: center;
        border-radius: 360px;
        box-sizing: content-box;
        border: 0!important;
    }
    .social .icon-twitter, .social .icon-linkedin{
        color: #fff;
    } 
    .icon-twitter, .icon-linkedin{
        width: 1.43em;
    }
}

// .region{
//     width: 100%;
// }

.theme-black {
    padding-top: 15px;
    min-height: 400px;
}

.container {
    max-width: 1080px;
}

.circle-container{
    max-width: 100%;
}

.blue-note{
    color: $alt;

    &-desc{
        color: $alt;
        font-size: $title-alt;
    }

}

.accordion-menu{
    list-style: none;
}

.section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.icon-down {
    color: #fff;
    font-size: 2.25rem;
}

.bg-news{
    background: () center center #064a61; 
    padding-bottom: 100px;
}

.news-header{
    margin-bottom: 0;
}

.copyright{
    font-size: 0.8rem;
    color: $brand;
}

h3{
    margin-top: 2rem;
}

.information{
    margin: 1.5rem;
    padding: 3rem;
}

.logo-stretch{
    width: 100%;
} 

.push-6{
    margin-left: 50%;
}

.theme-black{
filter: contrast(75%);
}

.theme-black p, .theme-black li{
    color: #fff;
}

.nobullets{
    list-style: none;
    padding: 0;
}

#anchornewsroom h2, #anchornewsroom p{
    color: #fff;
}

/*
 * Extra utilities
 */

.bg-news .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .bg-news .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    } 
}

.overflow-hidden {
    overflow: hidden;
}

// fix giant images for mobile

@media (max-width: 981px) {
    #topmenu{
        display: none;   
    }
}
@media (max-width: 768px) {
    .bg-careers img, .logo-stretch, .site-banner{
        max-width: 100%;
    }
}

